/client/node_modules
/client/package-lock.json
/client/*.log
/client/*.gz
/server/node_modules
/node_modules
/server/.pnp
/server/.pnp.js
/server/coverage
/server/build
/server/.DS_Store
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
