<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span
        >Copyright &copy; <% let date = new Date(); let year =
        date.getFullYear(); if (year == "2020") { %><%= year %><% } else { %>
        2020 - <%= year %> <% } %> All rights reserved
        <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a href="https://github.com/adhiariyadi/" target="_blank"
          >Adhi Ariyadi</a
        >.
      </span>
    </div>
  </div>
</footer>
